html, body {
    font-family: 'Merriweather Sans', sans-serif;
    color: #FFF;
    font-size: 16px;
    background: #006199;
}

html {
    overflow-y: scroll;
	overflow-x: scroll;
}

.container {
    width: 100%;
    background: #bec1c3;
}

.toolbar {
    background: #026aa7;
    display: flex;
    height: 40px;
    align-items: center;
    padding: 0 16px;
    font-size: 16px;
}

.spacer {
    flex: 1;
}

.control {    
    color: #FFF;
	float: left;
}

.control-home {
	color: #FFF;
	margin-right: 16px;
}

.control:hover {    
    text-shadow: 0 0 10px rgba(0,0,0,.4)
}

.lists {
    padding: 36px;
    display: flex;
}

.control-plus {
	margin-right: 16px;
}

.list-name {
    top: 20px;
	float: left;
}

.list {
    padding: 0 3px;
}

.add-cart {
	float: left;
}

.cart-name {
	float: left;
}